/* added tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.scroll-bar::-webkit-scrollbar {
    height: 10px;
    width: 8px;
}
   
/* .scroll-bar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(255, 0, 0, 0.3);
} */
   
.scroll-bar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}
